  a:link
	    {
	    	text-decoration:none;
	    	color:white;
	    	background:navy;
	    	font-weight : bold;
	    	width: 100%;
	    	display:block;
	    	border:-5px;
	    	margin:0px;
	    }

	    	a:active
	    {
	    	color:FFFFFF;
	    	font-weight:bold;
	    	background: red;
	    	display:block;

	    }

	    	a:visited
	    {
	    	text-decoration:none;
	    	font-weight:bold;
	    	color:FFFFFF;
	    	background:navy;
	    	display:block;
	    }

	     a:hover
	    {
	    	color:FFFFFF;
	    	background: red;
	    	display:block;
	    }

				
	    .navigationBorder
	    {
	    	text-align:center;
	    	background:navy;
	    	border-style:solid;
	    	border-color: red;
	    	border-width:5px;
	    	width:210px; }

body#current a#menu-current, 
body#home a#menu-home,
body#newsletter a#menu-newsletter,
body#powerPack a#menu-powerPack,
body#toolbox a#menu-toolbox,
body#browserPhoto a#menu-browserPhoto
	{color:navy; 
	background:white; 
	display:block;}